*{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #293241;
}

#calculator{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0fbfc;
    border-radius: 30px;
}

#screen{
    width:70vw;
    height: 5vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #293241;
    border-radius: 5px;
}
#operations-bar{
    display: flex;
    width:70vw;
    height: 4vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3d5a80;
}

#main-pad{
    display: flex;
    width:70vw;
    height: 65vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: cyan;
}

#number-pad{
    display: flex;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #97c1d9;
}

#equals{
    display: flex;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ee6c4d;
}